@using CarRental.UI.Models;

@model CarsDetailsViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <h1 class="abs-title">araçlarımız.</h1>

    <div class="cars-section">
        @foreach(var item in Model.Cars){
        <div class="card">
            <div class="cars"><img src="~/photos/egea.png" alt="" /></div>
            <h1>@item.BrandName @item.ModelName</h1>
                <h1>@item.GearTypeName - @item.ModelYear.Year -  @item.FuelTypeName</h1>
            <div class="carbutton">
                <a class="" type="" href="">Incele</a>
            </div>
        </div>
        }
    </div>
</section>